* {
	font-family: 'Nunito', sans-serif;
}

.card-title {
	font-weight: bold;
}

.nav-link {
	color: white;
}

.navbar-toggler {
	background-color: white;
}

.nav-link:focus, .nav-link:hover {
    color: #adb5bd;
}